
.weather-card {
  opacity: 0.5;

  &:hover{
    opacity: unset;
    z-index: -1;
      .text-truncate{
        overflow:visible;
        text-overflow:inherit;
        white-space: inherit;
      }
  }

  .card-text{
    color: $white;
  
    
  }
}
// .text-truncate {
//   &:hover{
//     overflow: auto;
//     text-overflow: clip;
//     white-space: inherit;
//   }
// }

