* {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* .weather-card {
  height: 180px;
  width: 200px;
  opacity: 0.5;
} */
.weather-card {
  opacity: 0.5;
}

div.fullscreen {
  position: relative;
  height: auto;
  min-height: 100%;
}